In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
from datetime import date, timedelta
import datetime
import matplotlib.dates as mdates
%matplotlib inline
import pickle

https://healthdata.gov/State/New-York-State-Statewide-COVID-19-Fatalities-by-Ag/7cdh-f4d3

In [5]:
df_hhs = pd.read_csv('https://health.data.ny.gov/api/views/du97-svf7/rows.csv?accessType=DOWNLOAD')

In [6]:
df_hhs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7759 entries, 0 to 7758
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Report Date     7759 non-null   object
 1   Age Group       7759 non-null   object
 2   Fatality Count  7759 non-null   int64
 3   Percent         7759 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 242.6+ KB

In [9]:
df_hhs.tail(20)

     Report Date        Age Group  Fatality Count  Percent
7739  01/05/2022         40 to 49            1522      3.1
7740  01/05/2022         50 to 59            4263      8.7
7741  01/05/2022         60 to 69            8965     18.3
7742  01/05/2022         70 to 79           12671     25.8
7743  01/05/2022         80 to 89           13070     26.7
7744  01/05/2022      90 and Over            7655     15.6
7745  01/05/2022          Unknown               9      0.0
7746  01/05/2022  Statewide Total           49029    100.0
7747  01/06/2022           0 to 9              21      0.0
7748  01/06/2022         10 to 19              25      0.1
7749  01/06/2022         20 to 29             198      0.4
7750  01/06/2022         30 to 39             635      1.3
7751  01/06/2022         40 to 49            1526      3.1
7752  01/06/2022         50 to 59            4278      8.7
7753  01/06/2022         60 to 69            8988     18.3
7754  01/06/2022         70 to 79           12711     25.8
7755  01/06/2022         80 to 89           13107     26.7
7756  01/06/2022      90 and Over            7687     15.6
7757  01/06/2022          Unknown               9      0.0
7758  01/06/2022  Statewide Total           49185    100.0

In [12]:
df_hhs[df_hhs['Age Group'] == '0 to 9'].tail(50)

     Report Date Age Group  Fatality Count  Percent
7159  11/16/2021    0 to 9              17      0.0
7171  11/17/2021    0 to 9              17      0.0
7183  11/18/2021    0 to 9              17      0.0
7195  11/19/2021    0 to 9              17      0.0
7207  11/20/2021    0 to 9              17      0.0
7219  11/21/2021    0 to 9              17      0.0
7231  11/22/2021    0 to 9              17      0.0
7243  11/23/2021    0 to 9              17      0.0
7255  11/24/2021    0 to 9              17      0.0
7267  11/26/2021    0 to 9              17      0.0
7279  11/27/2021    0 to 9              17      0.0
7291  11/28/2021    0 to 9              17      0.0
7303  11/29/2021    0 to 9              17      0.0
7315  11/30/2021    0 to 9              17      0.0
7327  12/01/2021    0 to 9              17      0.0
7339  12/02/2021    0 to 9              17      0.0
7351  12/03/2021    0 to 9              17      0.0
7363  12/04/2021    0 to 9              17      0.0
7375  12/05/2021    0 to 9              17      0.0
7387  12/06/2021    0 to 9              17      0.0
7399  12/07/2021    0 to 9              17      0.0
7411  12/08/2021    0 to 9              17      0.0
7423  12/09/2021    0 to 9              17      0.0
7435  12/10/2021    0 to 9              17      0.0
7447  12/11/2021    0 to 9              17      0.0
7459  12/12/2021    0 to 9              17      0.0
7471  12/13/2021    0 to 9              17      0.0
7483  12/14/2021    0 to 9              17      0.0
7495  12/15/2021    0 to 9              17      0.0
7507  12/16/2021    0 to 9              17      0.0
7519  12/17/2021    0 to 9              17      0.0
7531  12/18/2021    0 to 9              17      0.0
7543  12/19/2021    0 to 9              17      0.0
7555  12/20/2021    0 to 9              17      0.0
7567  12/21/2021    0 to 9              17      0.0
7579  12/22/2021    0 to 9              17      0.0
7591  12/23/2021    0 to 9              17      0.0
7603  12/24/2021    0 to 9              17      0.0
7615  12/26/2021    0 to 9              17      0.0
7627  12/27/2021    0 to 9              17      0.0
7639  12/28/2021    0 to 9              17      0.0
7651  12/29/2021    0 to 9              18      0.0
7663  12/30/2021    0 to 9              18      0.0
7675  12/31/2021    0 to 9              18      0.0
7687  01/01/2022    0 to 9              18      0.0
7699  01/02/2022    0 to 9              19      0.0
7711  01/03/2022    0 to 9              19      0.0
7723  01/04/2022    0 to 9              19      0.0
7735  01/05/2022    0 to 9              20      0.0
7747  01/06/2022    0 to 9              21      0.0

In [13]:
df_hhs[df_hhs['Age Group'] == '20 to 29'].tail(50)

     Report Date Age Group  Fatality Count  Percent
7161  11/16/2021  20 to 29             173      0.4
7173  11/17/2021  20 to 29             173      0.4
7185  11/18/2021  20 to 29             174      0.4
7197  11/19/2021  20 to 29             174      0.4
7209  11/20/2021  20 to 29             175      0.4
7221  11/21/2021  20 to 29             176      0.4
7233  11/22/2021  20 to 29             176      0.4
7245  11/23/2021  20 to 29             176      0.4
7257  11/24/2021  20 to 29             176      0.4
7269  11/26/2021  20 to 29             176      0.4
7281  11/27/2021  20 to 29             176      0.4
7293  11/28/2021  20 to 29             176      0.4
7305  11/29/2021  20 to 29             176      0.4
7317  11/30/2021  20 to 29             176      0.4
7329  12/01/2021  20 to 29             177      0.4
7341  12/02/2021  20 to 29             177      0.4
7353  12/03/2021  20 to 29             177      0.4
7365  12/04/2021  20 to 29             177      0.4
7377  12/05/2021  20 to 29             177      0.4
7389  12/06/2021  20 to 29             177      0.4
7401  12/07/2021  20 to 29             177      0.4
7413  12/08/2021  20 to 29             178      0.4
7425  12/09/2021  20 to 29             178      0.4
7437  12/10/2021  20 to 29             178      0.4
7449  12/11/2021  20 to 29             178      0.4
7461  12/12/2021  20 to 29             180      0.4
7473  12/13/2021  20 to 29             181      0.4
7485  12/14/2021  20 to 29             181      0.4
7497  12/15/2021  20 to 29             182      0.4
7509  12/16/2021  20 to 29             183      0.4
7521  12/17/2021  20 to 29             183      0.4
7533  12/18/2021  20 to 29             183      0.4
7545  12/19/2021  20 to 29             183      0.4
7557  12/20/2021  20 to 29             184      0.4
7569  12/21/2021  20 to 29             184      0.4
7581  12/22/2021  20 to 29             184      0.4
7593  12/23/2021  20 to 29             187      0.4
7605  12/24/2021  20 to 29             187      0.4
7617  12/26/2021  20 to 29             189      0.4
7629  12/27/2021  20 to 29             189      0.4
7641  12/28/2021  20 to 29             190      0.4
7653  12/29/2021  20 to 29             190      0.4
7665  12/30/2021  20 to 29             190      0.4
7677  12/31/2021  20 to 29             191      0.4
7689  01/01/2022  20 to 29             192      0.4
7701  01/02/2022  20 to 29             193      0.4
7713  01/03/2022  20 to 29             195      0.4
7725  01/04/2022  20 to 29             196      0.4
7737  01/05/2022  20 to 29             197      0.4
7749  01/06/2022  20 to 29             198      0.4

In [14]:
df_hhs[df_hhs['Age Group'] == '30 to 39'].tail(50)

     Report Date Age Group  Fatality Count  Percent
7162  11/16/2021  30 to 39             574      1.3
7174  11/17/2021  30 to 39             575      1.3
7186  11/18/2021  30 to 39             576      1.3
7198  11/19/2021  30 to 39             576      1.3
7210  11/20/2021  30 to 39             580      1.3
7222  11/21/2021  30 to 39             582      1.3
7234  11/22/2021  30 to 39             583      1.3
7246  11/23/2021  30 to 39             583      1.3
7258  11/24/2021  30 to 39             583      1.3
7270  11/26/2021  30 to 39             583      1.3
7282  11/27/2021  30 to 39             584      1.3
7294  11/28/2021  30 to 39             587      1.3
7306  11/29/2021  30 to 39             588      1.3
7318  11/30/2021  30 to 39             590      1.3
7330  12/01/2021  30 to 39             590      1.3
7342  12/02/2021  30 to 39             591      1.3
7354  12/03/2021  30 to 39             592      1.3
7366  12/04/2021  30 to 39             593      1.3
7378  12/05/2021  30 to 39             594      1.3
7390  12/06/2021  30 to 39             596      1.3
7402  12/07/2021  30 to 39             596      1.3
7414  12/08/2021  30 to 39             598      1.3
7426  12/09/2021  30 to 39             599      1.3
7438  12/10/2021  30 to 39             600      1.3
7450  12/11/2021  30 to 39             601      1.3
7462  12/12/2021  30 to 39             602      1.3
7474  12/13/2021  30 to 39             603      1.3
7486  12/14/2021  30 to 39             604      1.3
7498  12/15/2021  30 to 39             607      1.3
7510  12/16/2021  30 to 39             608      1.3
7522  12/17/2021  30 to 39             609      1.3
7534  12/18/2021  30 to 39             611      1.3
7546  12/19/2021  30 to 39             611      1.3
7558  12/20/2021  30 to 39             613      1.3
7570  12/21/2021  30 to 39             616      1.3
7582  12/22/2021  30 to 39             616      1.3
7594  12/23/2021  30 to 39             616      1.3
7606  12/24/2021  30 to 39             617      1.3
7618  12/26/2021  30 to 39             619      1.3
7630  12/27/2021  30 to 39             620      1.3
7642  12/28/2021  30 to 39             620      1.3
7654  12/29/2021  30 to 39             624      1.3
7666  12/30/2021  30 to 39             625      1.3
7678  12/31/2021  30 to 39             625      1.3
7690  01/01/2022  30 to 39             625      1.3
7702  01/02/2022  30 to 39             628      1.3
7714  01/03/2022  30 to 39             630      1.3
7726  01/04/2022  30 to 39             631      1.3
7738  01/05/2022  30 to 39             633      1.3
7750  01/06/2022  30 to 39             635      1.3